
<div class="mt-5">
  <div class="jumbotron">
    <h1 class="display-3">{{ title }}</h1>
    <p class="lead">Jumbo helper text</p>

    
     <div class="alert" [ngClass]="{
       'alert-info': courses.length,
       'alert-warning': !courses.length
     }">
       {{ courses.length }} courses in the database
     </div>

    <hr class="my-2">
    <input [(ngModel)]="course.title" type="text" placeholder="New Title..." class="form-control mb-2">

    <input [(ngModel)]="course.price" type="number" placeholder="Price" class="form-control mb-2">

    <textarea placeholder="description" class="form-control" [(ngModel)]="course.description" rows="4"></textarea>
     
    <button class="btn btn-warning btn-block mb-2" 
      *ngIf="editable"
    (click)="updateCourse()">Update</button>

    <button class="btn btn-danger btn-block mb-2" 
    *ngIf="!editable"
    (click)="addCourse()"> 
      <i class="fa fa-send"></i> Add
    </button>
      

    <div>
      <button (click)="grid = true" class="btn btn-sm"><i class="fa fa-th"></i></button>
      <button (click)="grid = false" class="btn btn-sm"><i class="fa fa-list"></i></button>
    </div>
    
      <div class="row" *ngIf="grid">
        <div class="col-md-4" *ngFor="let course of courses">
          <!-- <div class="card">
            <img class="card-img-top" [src]="'https://picsum.photos/200/300?image='+course.id" alt="">
            <div class="card-body">
              <h4 class="card-title">{{ course.title | titlecase }}</h4>
              <p class="card-text">{{ course.description | summary:30 }}</p>
            </div>
          </div> -->
          <app-panel>
            <img class="card-img-top" [src]="'https://picsum.photos/200/300?image='+course.id" alt="">

            <div class="body">
              {{ course.description | summary:20 }}
            </div>

            <div class="title">{{ course.title }}.</div>
          </app-panel>
        </div>
      </div>


     <ul class="list-group" *ngIf="!grid">
       <li class="list-group-item" 
        *ngFor="let course of courses; index as i">
         <i (click)="togglePower(course)" class="fa fa-power-off" [ngClass]="{
           'green-color': course.active,
           'red-color': !course.active
         }"></i> 
         {{ course.title | uppercase | titlecase }} Price: {{ course.price | currency:'EUR':'symbol':'1.2-3' }}  <br>
         {{ course.description | summary:30 }}
             
         like: {{ course.votes.like }} - disLike: {{ course.votes.disLike }}

         <app-votes 
            [like]="course.votes.like" 
            [dis-like]="course.votes.disLike"
             (changeVoteInChild)="InfluenceVoteInParent($event, course)"
            >
            
         </app-votes>

        <div class="text-right">
          <button class="btn btn-sm btn-dark mr-1"
          (click)="editCourse(course)"
          ><i class="fa fa-pencil"></i>  </button>
         <button class="btn btn-sm btn-danger" 
         (click)="deleteCourse(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
  
       </li>
     </ul>
    
  </div>
</div>

