
<div class="row mt-2">
  <div class="col-md-6">
    <h2>List of Posts</h2>
  </div>
  <div class="col-md-6 text-right">
    <button class="btn btn-sm btn-success" (click)="addForm()">
      <i class="fa fa-plus"></i> Add
    </button>
  </div>
</div>

  <div class="row my-3" *ngIf="showForm">
    <div class="col-md-6 mx-auto">
      
      <div class="form-group">
        <label for="Title">Title</label>
        <input [(ngModel)]="post.title" id="Title" type="text" class="form-control">
      </div>

      <div class="form-group">
          <label for="Body">Body</label>
         <textarea [(ngModel)]="post.body" class="form-control" id="Body"  rows="4"></textarea>
      </div>

      <button *ngIf="!editable" (click)="createPost()" class="btn btn-block btn-primary"><i class="fa fa-send"></i> Add new post</button>

      <button *ngIf="editable" (click)="updatePost()" class="btn btn-block btn-warning"><i class="fa fa-refresh"></i> Update post</button>

    </div>
  </div>
 
  <div *ngIf="!posts.length; then postNotExist else postsExist"></div>

  <ng-template #postNotExist>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="alert alert-warning" >
          No posts
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #postsExist>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr (dblclick)="removePost(post.id, i)" *ngFor="let post of posts; index as i">
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td class="text-right" nowrap>
            <button class="btn btn-sm btn-warning mr-2" (click)="editPost(post)">Edit</button>
            <button (click)=" removePost(post.id, i)" class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  
  